<div *ngIf="Allflux" class="container" fxLayout="row" fxLayout.xs="column" fxFlex="1 0 auto">

  <p-table #dt [columns]="cols" [value]="Allflux" selectionMode="single" [(selection)]="selectedFlux" (onRowSelect)="onRowSelect($event)"
    [paginator]="true" [rows]="5" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]">
    <ng-template pTemplate="caption">
      Liste des Flux
      <div style="text-align: right" fxLayout="row">
        <i class="fa fa-search" style="margin:4px 4px 0 0" fxFlex="90%"></i>
        <input type="text" pInputText size="50" placeholder="Filtre" fxFlex="15%" (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width:auto">
      </div>
    </ng-template>
    <p-header>Liste des Flux</p-header>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns" style="text-align:center">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="90%">
          <button type="button" mat-raised-button class="pink lighten-1" pButton icon="fa-plus" (click)="showDialogToAdd()" label="Nouveau Flux"></button>
        </div>
        <div fxFlex="10%"> {{Allflux.length}} flux</div>
      </div>
    </ng-template>
  </p-table>
  <p-growl [value]="msgs" sticky="sticky" life=3000></p-growl>
  <p-dialog header="Flux Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
    <div class="ui-g ui-fluid" *ngIf="flux">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="nom">Nom</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="nom" [(ngModel)]="flux.nom" />
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" mat-raised-button pButton icon="fa-close" (click)="show()" (click)="delete()" label="Supprimer"></button>
        <button type="button" mat-raised-button pButton icon="fa-check" (click)="save()" label="Enregistrer"></button>
      </div>
    </p-footer>
  </p-dialog>