<p-card *ngIf="session">
  <p-fieldset legend="Info Session">
    <div class="ui-g-12 ui-md-4">
      <button type="button" pButton (click)="showSuccess()" label="Nom: {{session.nom}}" class="ui-button-success"></button>
    </div>
    <div class="ui-g-12 ui-md-4">
      <button type="button" pButton (click)="showSuccess()" label="Formateur: {{session.formateur.prenom}} {{session.formateur.nom}}"
        class="ui-button-success"></button>
    </div>
    <div class="ui-g-12 ui-md-4">
      <button type="button" pButton (click)="showSuccess()" label="Salle: {{session.salle.nom}}" class="ui-button-success"></button>
    </div>
    <div class="ui-g-12 ui-md-4">
      <button type="button" pButton (click)="showSuccess()" label="Début: {{session.dateDebut | date:'dd-MM-yy' }} à {{session.dateDebut | date:'HH-mm'}}" class="ui-button-success"></button>
    </div>
    <div class="ui-g-12 ui-md-4"></div>
    <div class="ui-g-12 ui-md-4">
      <button type="button" pButton (click)="showSuccess()" label="Fin: {{session.dateFin | date:'dd-MM-yy' }} à {{session.dateFin | date:'HH-mm'}}" class="ui-button-success"></button>
    </div>
  </p-fieldset>
  <br>
  <br>
  <br>

  <p-pickList [source]="liste1" [target]="liste2" sourceHeader="Disponible" targetHeader="Selection" [responsive]="true" filterBy="nom"
    dragdrop="true" dragdropScope="agents" sourceFilterPlaceholder="Recherche par nom" targetFilterPlaceholder="Recherche par nom"
    [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'} ">
    <ng-template let-agent pTemplate="item">
      <div class="ui-helper-clearfix">
        <img src="http://localhost:8080/static/{{agent.id}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48">
        <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{agent.nom}} - {{agent.prenom}}</div>
      </div>
    </ng-template>
  </p-pickList>
  <br>
  <br>
  <br>
  <p-fieldset legend="Actions">
    <button pButton type="button" label="Enregistrer" icon="fa-check" (click)="save()"></button>
    <button pButton type="button" label="Retour" icon="fa-close" [routerLink]="['/affectations']"></button>
    <button pButton type="button" label="Convocations" icon="fa-file-pdf-o" (click)="convocation()"></button>
    <button pButton type="button" label="Emargement" icon="fa-file-pdf-o" (click)="emargement()"></button>
  </p-fieldset>
</p-card>