:host >>> .ui-widget-header, .ui-sortable-column {

    background-color:#fff59d  !important;
}

:host >>> .ui-messages-info {
    width: 70%;
   
}

input.ng-invalid, input.ng-dirty {
    border-right: 5px solid red;
}

input.ng-valid {
    border-right: 5px solid green;
}

